<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A brief description of your website">
    <meta name="keywords" content="HTML, CSS, JavaScript, Example, Website">
    <meta name="author" content="Your Name">
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar" id="myNavbar">
        <ul id="nav-list">
            <li><a class="nav-link" href="/">الصفحة الرئيسية</a></li>
            <li><a class="nav-link" href="/Home/About">من نحن</a></li>
            <li><a class="nav-link" href="/Home/Services">خدماتنا</a></li>
            <li><a class="nav-link" href="/Home/Contact">اتصل بنا</a></li>
            <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
                <i class="fa fa-bars"></i>
            </a>
        </ul>
        <div class="page-title">الآوائل لشراء الاثاث </div>
    </nav>

    <div class=" body-content">
        <div style="padding:16px">

            <a href="https://wa.me/1158066045" class="float">
                <i class="fa fa-whatsapp"></i> تواصل واتساب
            </a>

        </div>
        @RenderBody()
        <hr />
        <footer>
            <div class="footer">
                <p>&copy; @DateTime.Now.Year الأوائل. جميع الحقوق محفوظة.</p>
                <p>
                    <a href="#home">الصفحة الرئيسية</a> |
                    <a href="~/Views/Home/About.cshtml">من نحن</a> |
                    <a href="#services">خدماتنا</a> |
                    <a href="#contact">اتصل بنا</a>
                </p>
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank">facebook</a>
                    <a href="https://twitter.com" target="_blank">Twitter</a>
                    <a href="https://instagram.com" target="_blank">instagram</a>
                    <a href="https://instagram.com" target="_blank">Tik Tok</a>
                    <a href="https://instagram.com" target="_blank">Snapchat</a>
                </div>
            </div>

        </footer>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/JavaScript.js" defer></script>
</body>
</html>
